<p-table
  #dt
  [value]="solveDialogs"
  [scrollable]="true"
  scrollHeight="76vh"
  [paginator]="true"
  [rows]="request.rows"
  [first]="request.first"
  [lazy]="true"
  (onLazyLoad)="loadSolveDialogs($event)"
  [totalRecords]="totalRecords"
  [customSort]="true"
  (sortFunction)="loadSolveDialogs($event)"
>
  <ng-template pTemplate="caption">
    <div class="fooo">
      <h2>Solve Dialogs</h2>
      <div>
        <input
          pInputText
          type="text"
          (input)="filterSolveDialog()"
          placeholder="Search firstName"
          [(ngModel)]="globalFilter"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">
        ID <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
      <th pSortableColumn="difficultTitle">Difficulty Title <p-sortIcon field="difficultTitle"></p-sortIcon></th>
      <th>Tags</th>
      <th>Rating</th>
      <th>Attempts</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-solveDialog>
    <tr>
      <td>{{ solveDialog.id }}</td>
      <td>{{ solveDialog.title }}</td>
      <td>{{ solveDialog.difficultTitle }}</td>
      <td>{{ solveDialog.tags }}</td>
      <td>{{ solveDialog.rating }}</td>
      <td>{{ solveDialog.attempts }}</td>
    </tr>
  </ng-template>
</p-table>